<!DOCTYPE html>
<html>
  <head>
    <title>Gradebook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/master.css" charset="utf-8">
    {% block css %}{% endblock %}
    <!-- JS -->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    {% block js %}{% endblock %}
  </head>
  <body>
    <header>
      {% if current_user.is_authenticated() %}
      <a href="{{ url_for('grades.dashboard') }}">{{ current_user.firstname }}</a>
      <a href="{{ url_for('users.logout') }}">Logout</a>
      {% else %}
      <a href="{{ url_for('users.login') }}">Login</a>
      {% endif %}
    </header>

    <div class="container">
      <div class="flashed_messaged">
      {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
      {% endfor %}
      </div>

      <div class="main">
        {% block content %}{% endblock %}
      </div>

      {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
