<!DOCTYPE html>
<html>
  <head>
    <title>Gradebook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="container">
      <!-- messages -->
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}

      <!-- child template -->
      {% block content %}{% endblock %}

      <!-- errors -->
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>
  </body>
</html>
