{% extends "base.html" %}

{% block content %}

<h1>Please login</h1>
<br>
<form method="POST">
  {{ form.csrf_token }}
  <p>
    Email: {{ form.email(placeholder="jdoe@gmail.com") }}
    <span class="error">
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
    Password: {{ form.password(placeholder="password") }}
    <span class="error">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-sm btn-success" type="submit">Sign in</button>
</form>

{% endblock %}
