* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background: #2c3e50;
  color: #ecf0f1;
  font-family: "Open Sans", "Helvetica", sans-serif;
}

.container {
  position: relative;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  max-width: 960px;
  min-width: 400px;
  margin: 0 auto;
}

.clearfix {
  display: table-cell;
}

.fancy {
  font-family: "Lobster", serif;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: "Lobster", serif;
}

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: loading 1.8s infinite ease-in-out;
          animation: loading 1.8s infinite ease-in-out;
}

.loader {
  display: none;
  font-size: 10px;
  margin: 50px auto 100px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

.loader:before {
  left: -20px;
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}

.loader:after {
  left: 20px;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

@-webkit-keyframes loading {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #2ecc71;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #2ecc71;
  }
}

@keyframes loading {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #2ecc71;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #2ecc71;
  }
}

.messages {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.messages p {
  width: 90%;
  max-width: 640px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 2px solid #2ecc71;
  border-radius: 10px;
  background: #34495e;
  margin: 3px auto;
}

.messages p.error {
  border: 2px solid #34495e;
  background: #e74c3c;
}

header {
  height: 60px;
  background: #27ae60;
}

header h1 {
  line-height: 60px;
  font-style: italic;
  position: absolute;
  left: 0;
}

header .right {
  margin-top: 10px;
  position: absolute;
  right: 0;
  font-weight: bold;
  line-height: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .right .login, header .right .register {
  display: inline-block;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  background: #ecf0f1;
  color: #27ae60;
}

header .right .dropdown {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 40px;
  text-align: right;
  background: #27ae60;
  background: #229955;
  border-radius: 5px;
  -webkit-transition: height 0.1s ease;
          transition: height 0.1s ease;
  cursor: pointer;
  z-index: 10;
}

header .right .dropdown span {
  margin-right: 40px;
}

header .right .dropdown a {
  display: none;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  height: 40px;
  display: none;
  padding-right: 40px;
}

header .right .dropdown.open {
  height: 120px;
}

header .right .dropdown.open a {
  display: block;
}

header .right .dropdown.open:after {
  border-top: none;
  border-bottom: 5px solid #ecf0f1;
}

header .right .dropdown:after {
  margin-right: 10px;
  margin-left: 5px;
  content: "";
  position: absolute;
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ecf0f1;
  border-bottom: none;
}

.home h1 {
  margin: 25px 0;
  text-align: center;
  font-size: 100px;
}

.home p {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.home p a {
  color: #2ecc71;
}

.login .box, .register .box {
  max-width: 480px;
  width: 50%;
  margin: 25px auto;
  background: #34495e;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.login h2, .register h2 {
  margin: 10px 0;
}

.login form, .register form {
  position: relative;
  display: inline-block;
  text-align: right;
}

.login form .error, .register form .error {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #e74c3c;
}

.login form p, .register form p {
  margin: 10px 0;
}

.login form p .error, .register form p .error {
  display: block;
  font-size: 10px;
}

.login form p label, .register form p label {
  display: inline-block;
  text-align: right;
  vertical-align: text-top;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.login form p input, .register form p input {
  margin-left: 2px;
  padding: 5px 5px 7px;
  border: none;
  outline: none;
  font-size: 14px;
  height: 26px;
  width: 200px;
  color: #2c3e50;
  font-weight: bold;
  font-family: "Open Sans", "Helvetica", sans-serif;
}

.login form p input:focus, .register form p input:focus {
  padding-bottom: 5px;
  border-bottom: 2px solid #2ecc71;
}

.login form p input[type="password"], .register form p input[type="password"] {
  font-size: 24px;
  line-height: 14px;
}

.login form button, .register form button {
  display: inline-block;
  padding: 5px 25px;
  background: #27ae60;
  border: none;
  color: #ecf0f1;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

footer {
  height: 40px;
  margin-top: 20px;
  background: #34495e;
  line-height: 40px;
  font-size: 12px;
}

footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.dashboard button, .class button {
  cursor: pointer;
}

.dashboard h2, .class h2 {
  margin: 20px 0;
  font-size: 36px;
}

.dashboard .class, .class .class {
  width: -webkit-calc(45% - 10px);
  width: calc(45% - 10px);
  margin: 20px 0 0;
  padding: 20px;
  background: #34495e;
  border-radius: 10px;
  float: left;
}

.dashboard .class:nth-of-type(2n+1), .class .class:nth-of-type(2n+1) {
  margin-right: 20px;
}

.dashboard .title, .class .title {
  margin: 0 0 10px;
}

.dashboard h3, .class h3 {
  font-size: 24px;
  text-transform: uppercase;
  display: inline-block;
  color: #2ecc71;
}

.dashboard h4, .class h4 {
  font-size: 18px;
  height: 24px;
  display: inline-block;
}

.dashboard .delete, .class .delete {
  margin-left: 10px;
  margin-bottom: 2px;
  vertical-align: bottom;
  background: #e74c3c;
  color: #ecf0f1;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.dashboard .delete:hover, .class .delete:hover {
  background: #ecf0f1;
  color: #e74c3c;
}

.dashboard .delete-class, .class .delete-class {
  font-size: 12px;
  padding: 5px 10px;
}

.dashboard .delete-category, .class .delete-category {
  font-size: 10px;
  padding: 4px 10px;
}

.dashboard .delete-grade, .class .delete-grade {
  font-size: 10px;
  padding: 4px 10px;
}

.dashboard table, .class table {
  width: 100%;
  text-align: center;
}

.dashboard input, .class input {
  display: none !important;
}

@media screen and (max-width: 850px) {
  .dashboard .class, .class .class {
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 500px) {
  header .right {
    margin-top: 15px;
    line-height: 30px;
  }
  header .right .login, header .right .register {
    width: 70px;
    border-radius: 5px;
    font-size: 12px;
  }
  .home h1 {
    font-size: 75px;
  }
}
