$dark-bg-color: #2c3e50;
$bg-color: #34495e;
$accent-bg-color: #27ae60;
$text-color: #ecf0f1;
$accent-text-color: #2ecc71;
$error-color: #e74c3c;
$max-width: 960px;
$min-width: 400px;
$font-face: "Open Sans", "Helvetica", sans-serif;
$fancy: "Lobster", serif;

* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background: $dark-bg-color;
  color: $text-color;
  font-family: $font-face;
}

.container {
  position: relative;
  width: calc(100% - 40px);
  max-width: $max-width;
  min-width: $min-width;
  margin: 0 auto;
}

.clearfix {
  display: table-cell;
}

.fancy {
  font-family: $fancy;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: $fancy;
}

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation-fill-mode: both;
  animation: loading 1.8s infinite ease-in-out;
}

.loader {
  display: none;
  font-size: 10px;
  margin: 50px auto 100px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader:before {
  left: -20px;
  animation-delay: -0.32s;
}

.loader:after {
  left: 20px;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

@keyframes loading {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #2ecc71;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #2ecc71;
  }
}

.messages {
  position: absolute;
  top: 0;
  left: 0; right: 0;
  z-index: 100;

  p {
    width: 90%;
    max-width: #{$max-width * 2 / 3};
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 2px solid $accent-text-color;
    border-radius: 10px;
    background: $bg-color;
    margin: 3px auto;

    &.error {
      border: 2px solid $bg-color;
      background: $error-color;
    }
  }
}

header {
  height: 60px;
  background: $accent-bg-color;

  h1 {
    line-height: 60px;
    font-style: italic;
    position: absolute;
    left: 0;
  }

  .right {
    margin-top: 10px;
    position: absolute;
    right: 0;
    font-weight: bold;
    line-height: 40px;
    user-select: none;

    .login, .register {
      display: inline-block;
      width: 100px;
      border-radius: 5px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      background: $text-color;
      color: $accent-bg-color;
    }

    .dropdown {
      position: absolute;
      top: 0;
      right: 0;
      width: 140px;
      height: 40px;
      text-align: right;
      background: $accent-bg-color;
      background: darken($accent-bg-color, 5%);
      border-radius: 5px;
      transition: height .1s ease;
      cursor: pointer;
      z-index: 10;

      span {
        margin-right: 40px;
      }

      a {
        display: none;
        width: calc(100% - 40px);
        height: 40px;
        display: none;
        padding-right: 40px;
      }

      &.open {
        height: 120px;

        a {
          display: block;
        }

        &:after {
          border-top: none;
          border-bottom: 5px solid $text-color;
        }
      }

      &:after {
        margin-right: 10px;
        margin-left: 5px;
        content: "";
        position: absolute;
        top: 20px;
        right: 10px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $text-color;
        border-bottom: none;
      }
    }
  }
}

.home {
  h1 {
    margin: 25px 0;
    text-align: center;
    font-size: 100px;
  }

  p {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;

    a {
      color: $accent-text-color;
    }
  }
}

.login, .register {
  .box {
    max-width: #{$max-width / 2};
    width: 50%;
    margin: 25px auto;
    background: $bg-color;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  h2 {
    margin: 10px 0;
  }

  form {
    position: relative;
    display: inline-block;
    text-align: right;

    .error {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: $error-color;
    }

    p {
      margin: 10px 0;

      .error {
        display: block;
        font-size: 10px;
      }

      label {
        display: inline-block;
        text-align: right;
        vertical-align: text-top;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
      }

      input {
        margin-left: 2px;
        padding: 5px 5px 7px;
        border: none;
        outline: none;
        font-size: 14px;
        height: 26px;
        width: 200px;
        color: $dark-bg-color;
        font-weight: bold;
        font-family: $font-face;

        &:focus {
          padding-bottom: 5px;
          border-bottom: 2px solid $accent-text-color;
        }

        &[type="password"] {
          font-size: 24px;
          line-height: 14px;
        }
      }
    }

    button {
      display: inline-block;
      padding: 5px 25px;
      background: $accent-bg-color;
      border: none;
      color: $text-color;
      border-radius: 2px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
    }
  }
}

footer {
  height: 40px;
  margin-top: 20px;
  background: $bg-color;
  line-height: 40px;
  font-size: 12px;

  &.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.dashboard, .class {
  button {
    cursor: pointer;
  }

  h2 {
    margin: 20px 0;
    font-size: 36px;
  }

  .class {
    width: calc(45% - 10px);
    margin: 20px 0 0;
    padding: 20px;
    background: $bg-color;
    border-radius: 10px;
    float: left;

    &:nth-of-type(2n+1) {
      margin-right: 20px;
    }
  }

  .title {
    margin: 0 0 10px;
  }

  h3 {
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
    color: $accent-text-color;
  }

  h4 {
    font-size: 18px;
    height: 24px;
    display: inline-block;
  }

  .delete {
    margin-left: 10px;
    margin-bottom: 2px;
    vertical-align: bottom;
    background: $error-color;
    color: $text-color;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 2px;
    transition: all .2s ease;

    &:hover {
      background: $text-color;
      color: $error-color;
    }
  }

  .delete-class {
    font-size: 12px;
    padding: 5px 10px;
  }

  .delete-category {
    font-size: 10px;
    padding: 4px 10px;
  }

  .delete-grade {
    font-size: 10px;
    padding: 4px 10px;
  }

  table {
    width: 100%;
    text-align: center;
  }

  input {
    display: none !important;
  }
}

@media screen and (max-width: 850px) {
  .dashboard, .class {
    .class {
      width: calc(100% - 40px);
    }
  }
}

@media screen and (max-width: 500px) {
  header .right {
    margin-top: 15px;
    line-height: 30px;

    .login, .register {
      width: 70px;
      border-radius: 5px;
      font-size: 12px;
    }
  }

  .home h1 {
    font-size: 75px;
  }
}
