{% extends "base.html" %}

{% block content %}
        <div class="dashboard clearfix">
          <h2>Dashboard</h2>

          {% for class in current_user.classes %}
          <div class="class">
            <div class="title">
              <h3><a href="{{ url_for('grades.classview', class_id=class.id) }}">{{ class.name }}</a></h3>
              <button class="delete delete-class" id="{{ class.id }}">Delete</button>
            </div>
            {% for category in class.categories %}
            <div>
              <h4>{{ category.name }}</h4>
              <button class="delete delete-category" id="{{ category.id }}">Delete</button>
              <table>
                <tr>
                  <th>Assignment</th>
                  <th>Score</th>
                  <th>Total</th>
                  <th>Percent</th>
                </tr>
              {% for grade in category.grades %}
              <tr>
                <td>{% if grade.name %}{{ grade.name }}{% else %}--{% endif %}</td>
                <td>{{ grade.score }}</td>
                <td>{{ grade.total }}</td>
                <td>{% if grade.total > 0 %}{{ grade.score / grade.total * 100 }}%{% else %}--{% endif %}</td>
              </tr>
              <!-- <p>{% if grade.name %}{{ grade.name }} | {% endif %}{{ grade.score }}/{{ grade.total }} | <button class="delete delete-grade" id="{{ grade.id }}">Delete</button></p> -->
              {% endfor %}
            </table>
              <form class="add-grade">
                <input type="hidden" name="category" value="{{ category.id }}">
                <input type="text" name="name" placeholder="New Grade">
                <input type="text" name="score" placeholder="10">
                <input type="text" name="total" placeholder="10">
                <input type="submit" value="Add Grade">
              </form>
              {% if category.total > 0 %}
              <p class="total"><b>Total:</b> {{ category.points }}/{{ category.total }} = {{ '%0.2f' % (category.points / category.total * 100) }}%</p>
              {% endif %}
            </div>
            {% endfor %}
            <form class="add-category">
              <input type="hidden" name="class" value="{{ class.id }}">
              <input type="text" name="name" placeholder="New Category">
              <input type="text" name="weight" placeholder="1.0">
              <input type="submit" value="Add Category">
            </form>
            {% if class.total > 0 %}
            <p class="total"><b>Total:</b> {{ class.points }}/{{ class.total }} = {{ '%0.2f' % (class.points / class.total * 100) }}% | {{ class.grade }}</p>
            {% else %}
            <p class="total"><b>Total:</b> {{ class.points }}/{{ class.total }} | {{ class.grade }}</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>

        <form class="add-class">
          <input type="text" name="name" placeholder="New Class">
          <input type="submit" value="Add Class">
        </form>

        {% include "templates.html" %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/grades.js"></script>
{% endblock %}
